body {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.fac-response-container {
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #FFC222 0%, rgba(255, 194, 34, 0) 100%) no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center; 
  width: 100%;
  padding: 20px 0;
}

.logo {
  max-width: 200px;
  height: auto;
}

.feedback-container {
  background-color: #FFC222; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 90%; 
  max-width: 1000px; 
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center; 
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  font-size: 1.1em;
}

.user-code {
  font-size: 0.9em;
  color: #777;
}

.feedback-text {
  font-size: 1.1em;
  color: #333;
  margin-top: 10px;
}

.response-form {
  background-color: #FFC222; 
  padding: 0;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  align-items: flex-start; 
=======
>>>>>>> ecb7fc335ffb1ade0536b3e4a55fc7992758cea2
  margin-top: 20px;
}

.response-form label {
  margin-bottom: 5px;
  color: #333;
  display: inline-block; 
  text-align: left;
}

.response-form textarea {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
<<<<<<< HEAD
  padding: 15px;
  width: 100%;
  max-width: 700px; 
  height: 100px;
=======
  padding: 20px;
  width: 90%;
  max-width: 1000px; 
  height: 120px;
>>>>>>> ecb7fc335ffb1ade0536b3e4a55fc7992758cea2
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  margin-bottom: 20px;
  text-align: left;
  margin-top: 10px;
}

.send-button {
  padding: 10px 20px;
  background-color: #D49900;
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
<<<<<<< HEAD
}

=======
  align-self: center; 
  margin-top: 10px; 
}


>>>>>>> ecb7fc335ffb1ade0536b3e4a55fc7992758cea2
footer {
  margin-top: auto;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  color: #333;
}
