@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #FFC222 0%, rgba(255, 194, 34, 0) 100%) no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.logo-container {
  position: absolute;
  top: 20px;
  text-align: center;
  width: 100%;
}

.logo {
  max-width: 200px;
  height: auto;
}

.login-container {
  width: 45vw;
  max-width: 500px;
  padding: 40px;
  border-radius: 5px;
  background-color: rgba(255, 246, 224, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
}


input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(255, 194, 34, 0.3);
  color: #333;
  box-sizing: border-box;
}

input::placeholder {
  color: #312f2f;
  font-weight: bold;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #FFC222;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #e6a800;
}

.recover-text {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  color: black;
}

.recover-link {
  color: #FFC222;
  font-weight: bold;
  cursor: pointer;
}

.recover-link:hover {
  color: #e6a800;
}

.footer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: #333;
}
