@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


body {
    font-family: Arial, sans-serif;
    background-color: #fff8dc;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #f2b136;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px; 
  }
  
  .header .logo img {
    width: 120px;
  }
  
  .header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .header nav ul li {
    display: inline;
  }
  
  .header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .header nav ul li a:hover {
    text-decoration: underline;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    gap: 20px;
  }
  
  .map-container {
    flex: 1;
    text-align: center;
  }
  
  .status {
    background-color: #fff3c6;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .bus-list {
    flex: 1;
  }
  
  .bus-item {
    background-color: #fff3c6;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  .footer {
    background-color: #f2b136;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px; 
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  