/* userdetails.css */

/* Estilo geral para o corpo */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* Contêiner principal da tela de detalhes do usuário */
.user-details-container {
  background: linear-gradient(to top, #FFC222 0%, rgba(255, 194, 34, 0) 100%) no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.logo {
  max-width: 200px;
  height: auto;
}

/* Cartão de detalhes do usuário */
.user-details-card {
  background-color: #FFF6E0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 50px;
  width: 80%;
  max-width: 500px;
  text-align: left;
  display: flex;
  align-items: center;
}

/* Ícone ao lado da imagem do usuário */
.user-icon {
  margin-right: 30px;
}

/* Imagem do usuário (circular) */
.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* Informações do usuário */
.user-info {
  flex-grow: 1;
}

.user-info p {
  font-size: 1.1em;
  margin: 15px 0;
  text-decoration: underline;
  padding-bottom: 10px;
}

/* Informações do cartão */
.card-info {
  display: flex;
  align-items: center;
}

.card-logo {
  width: 30px;
  margin-right: 5px;
}

/* Estilo para o select */
select {
  margin-left: 10px;
  padding: 5px;
  font-size: 1em;
}

/* Rodapé da página */
footer {
  margin-top: auto;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  color: #333;
  font-weight: bold;
}
